@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DisplayDetails";
}

<h1>DisplayDetails</h1>
<table class="table">
    <tr>
        <td>Your Name</td>
        <td>
            @ViewBag.Name
        </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>
   
    <tr>
        <td>Selected Course</td>
        <td>
            @foreach (string s in ViewBag.Course)
            {
                <p>@s</p>
            }
        </td>
    </tr>
    <tr>
        <td>Details</td>
        <td>
            @ViewBag.Details
        </td>
    </tr>
    
</table>
