@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h5> Colour Names</h5>
@if (ViewData["list"] != null)
{
    <ol>
        @foreach(string str in (IEnumerable<string>)ViewData["list"])
        {
            <li>
                @str
            </li>
        } 

            
    </ol>
}
